  
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@0,400;0,900;1,700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    }




  *{
    margin: auto;
    padding: 0;
}

/* nav related style starts here */

.nav-container{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
   
    align-items: center;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 20px;

}
.logo-container{
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
    gap: 15px;
}
.logo-container img{
    width: 50px;
}
.logo-container h3{
    color: #0B0223;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.nav-items{
    /* width: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-items a{
    gap: 40px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding-left: 30px;
    font-weight: 500;
    
}
 .nav-items .follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    font-weight: 700;
    padding-right: 30px;
    margin-left: 30px;

    color: black;
    text-align: center;
    margin-right: 20px;


}
.G-section{
    color: #FF42A5;
}

/* banner related section starts here */
.banner-container{
    display: flex;
    background-image: url("../images/Group\ 14.png");
   
    padding: 10px;
    /* border-radius: 10px; */
    /* margin: 50px; */
    align-items: center;
    margin-top: 30px;
}
.banner-text{
    width: 50%;
    text-align: center;}
    

.banner-img{
        width: 50%;
       
    
}
.banner-text h1{ 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}
.banner-desc{
    font-size: 18px;
    font-weight: 600;
}
.icon-text{
    font-size: 10px;
}
.icon-items{
    padding: 10px;
    /* padding-top: 20px; */
}

.banner-button {
     background-color:#FF42A5 ;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
 }  
 
 /* box related style starts here */
 .box-header{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    gap: 15px;
    margin-bottom: 50px;
 }
 .box-header h1{
    color: #0B0223;
font-size: 30px;
font-weight: 700;
padding-bottom: 10px;
 }

 .box-title p{
    font-size: 18px;
 }
 .box-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
   
 }
 .box-container{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    margin-right: 5%;
    margin-left: 5%;
    
 }
 .box-item p {
    font-size: 15px;
    /* text-align: center; */
   
   
 }
 .box-item img{
   
    height: 320px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 30px;
  

 }

 /* games related section added here */

 .games{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 130px;
    margin-right: 8%;
    margin-left: 8%;
 }
.games-container h3{
    font-size: 30px;
font-weight: 700;
padding: 15px;
text-align: center;
}

 
.games-desc{
    color: var(--dark-03, #727272);
font-size: 16px;
font-style: normal;
font-weight: 400;
text-align: center;
}
.overlap-img img{
    
    height:auto;
    width: 150px;
    padding: 10px;
    position: relative;
    bottom: 150px;
        margin-left: -80px;
        
    }
    
    .games-img{
        height: 450px;
        width: 350px;
    }
    
   






@media screen and (max-width:576px){
    .nav-container,
    .nav-items-container,
    .nav-items,
    .games{

      
        flex-direction: column;
        
        
    }


    .banner-container{
        flex-direction: column-reverse;
    }

    .box-container{  
        grid-template-columns: 1fr;
  
    }
    .nav-container{
        margin-top: 30px;
    }

    .nav-items-container{
        width: 100%;
        
    }
    

    .nav-items a{
        margin-top: 20px;
        padding-top: 20px;

    }

    .nav-items-container .follow-btn{
        width: 100%;
        margin-bottom: 10px;
    }

    .banner-text,.banner-img{
        width: 100%;
        margin-bottom: 20px;
        
    }
    .banner-img img{
        width: 300px;
        height: auto;
        align-content: center;
    }
    .banner-text h1{ 
        background-image: linear-gradient(to bottom,#e893cf,#9376e0);
        color: transparent;
        background-clip: text;
        font-size: 50px;
        font-weight: 700;
        margin-top: 10px;
    }
    .banner-text p{
        font-size: 25px;}

    .box-container{
            margin-left: 0px;
        }
    .games{
        margin-right: 0;
    margin-left: 0;
    } 
    .overlap-img img {
        padding: 0;
        margin-left: -40px;
    } 
}
